# prompt
PROMPT_RESEARCH=/prompts/research.md
PROMPT_LIVE=/prompts/live.md

# logging
SYN_LOG_DIR=/logs
SYN_LOG_RESEARCH_DIR=/logs/research
SYN_LOG_LIVE_DIR=/logs/live

# LLM
SYN_LLM_PROVIDER=local
SYN_LLM_MODEL=llama